{% block title %}游戏后台管理{% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
{% endblock %}

{% block body %}
    <h2>后台管理</h2>
    <h1>工信部备案：<a href="https://beian.miit.gov.cn">京ICP备2023015619号</a></h1>
    <button id="ajaxButton">初始化</button>
    <div id="result"></div>
    <button id="ajaxButton2">结束</button>
    <div id="result2"></div>
    结果：
    <table style="font-size: 45px;" border="1">

        <tr>
            <!-表头->
            <th>排名</th>
            <th>姓名</th>
            <th>班级</th>
            <th>数字</th>
            <th>距离爆炸</th>
        </tr>
        {% for i in winners %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.user.username }}</td>
            <td>{{ i.class_number }}</td>
            <td>{{ i.number }}</td>
            <td>{{ i.delta }}</td>
        </tr>
        {% endfor %}
    </table>

    <script>
        $(document).ready(function() {
            $('#ajaxButton').click(function() {
                $.ajax({
                    url: '',  // 指定服务器的 URL
                    type: 'POST',  // 请求类型
                    data: {command:'start'},
                    success: function(response) {
                    var status = response.status;  // 提取 status 字段
                    $('#result').text('Status: ' + status)  // 将服务器响应显示在 result 元素中
                    },
                    error: function(xhr, status, error) {
                        console.log(error);  // 打印错误信息到控制台
                    }
                });
            });
            $('#ajaxButton2').click(function() {
                $.ajax({
                    url: '?command=stop',  // 指定服务器的 URL
                    type: 'POST',  // 请求类型
                    data: {command:'stop'},
                    success: function(response) {
                    var status = response.status;  // 提取 status 字段
                    $('#result2').text('Status: ' + status)  // 将服务器响应显示在 result 元素中
                    },
                    error: function(xhr, status, error) {
                        console.log(error);  // 打印错误信息到控制台
                    }
                });
            });
        });
    </script>
{% endblock %}