<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" novalidate>
    {% csrf_token %}
    <label>{{ forms.wechat_id.label }}: </label>{{ forms.wechat_id }}<span style="color: red;">{{ forms.wechat_id.errors.0 }}</span><br>
    <label>{{ forms.name.label }}: </label>{{ forms.name }}<span style="color: red;">{{ forms.name.errors.0 }}</span><br>
    <label>{{ forms.grade.label }}: </label>{{ forms.grade }}<span style="color: red;">{{ forms.grade.errors.0 }}</span><br>
    <label>{{ forms.class_number.label }}: </label>{{ forms.class_number }}<span style="color: red;">{{ forms.class_number.errors.0 }}</span><br>
    <label>{{ forms.number.label }}: </label>{{ forms.number }}<span style="color: red;">{{ forms.number.errors.0 }}</span><br>
    <input type="submit" value="提交">
</form>
</body>
</html>